body{
    min-height: 100vh;
    background-color: blue;

}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box{
    min-width: 400px;
    background: #FAFAFA;
    border-radius: 35px;
    text-align: center;
    position: relative;
}

h1{
    font-weight: bold;
    font-size: 35px;
    padding: 30px 0;
}

.content{
    padding: 0 40px;
}
.input{
    background: #FFF;
    box-shadow: 0px 0px 94px -30px rgba(0, 0, 0, 0.15);
    border-radius: 28px;
    padding: 20px 0;
    margin-bottom: 20px;
}
.input label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}
.input input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(0, 255, 255);
    width: 60%;
    text-align: center;
    font-size: 25px;
}

button#calculate{
    color: #FFF;
    background: rgb(0, 255, 255);
    font-size: 16px;
    border-radius: 12px;
    padding: 12px 0;
    width: 100%;
    outline: none;
    border: none;
}
button#calculate:hover{
    background-color: rgb(0, 177, 142);
}
.result{
    padding: 30px 20px;
}
.result p{
    font-weight: 600;
    font-size: 22px;
    color: black;
    margin-bottom: 15px;
}
.nilai{
    font-size: 35px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #00ffae;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 50px;
    margin-bottom: 25px;
}
#comment{
    color: red;
    font-weight: 800;
}